<nav class="navbar">
    <div class="logo_item">
      <i class="bx bx-menu" id="sidebarOpen"></i> 
      <a href="javascript:history.back()">
        <img src="https://res.cloudinary.com/datlajath/image/upload/v1729872176/AgroGuide/p5f3ij1zqjipsifdj0mt.png" alt="">
      </a>
      <a href="javascript:history.back()">AgroGuide</a></div>
      <div class="navbar-nav">
        <a href="/admin/sellerRequests">
            <i class="fa-solid fa-shop icon"></i><sup><%= sellerInvalidCount %></sup>
        </a>
        <a href="/admin/contractorRequests">
            <i class="fa-solid fa-user-tie icon"></i><sup><%= contractorInvalidCount %></sup>
        </a>
      </div>
</nav>